body{
    background: rgb(234,152,40);
    background: radial-gradient(circle, rgba(211, 45, 45, 0.644) 0%, rgb(29, 28, 28) 100%);
}

@font-face {
    font-family: 'njnaruto';
    src: url(njnaruto.ttf);
}

p{
    font-family: njnaruto;
    font-weight: 100;
    font-size: 25px;
}

h2{
    margin-bottom: 5px;
    font-family: njnaruto;
    font-size: 50px;
}

.image{
    width: 27%;
    height: auto;
    border: solid black 3px;
}

.des{
    width: 80%;
    font-size: 22px;
}

.des{
    display: block;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    background-color: #222;
    color: white;
    font-size: 22px;
    font-family: 'Merienda', cursive;

    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(135deg, rgba(204, 32, 32, 0.644) 25%, rgba(42,37,37,1) 69%) 1;

    box-shadow: 10px 5px 10px rgba(201, 38, 52, 0.308);
    transition: 0.3s;
    width: 80%;

}

.des:hover {
    box-shadow: 20px 10px 100px rgba(218, 26, 26, 0.308);
}


@media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
    .image{
        width: 50%;
    }
}

@media (max-width:950px){
    .des{
        margin-top: 4vh;
        width: 80%;
        padding: 20px;
        font-size: 80%;
    }
    .image{
        width: 60%;
    }
}

@media (max-width:560px){
    .des{
        margin-top: 4vh;
        width: 80%;
        padding: 20px;
        font-size: 80%;
    }
    .image{
        width: 80%;
    }
}
